@model Epias.Entities.Dtos.IntraDayTradeHistoryListDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Conract</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tradeHistory in Model.IntraDayTradeHistories)
        {
            <tr>
                <th scope="row">1</th>
                <td>@tradeHistory.IdApi</td>
                <td>@tradeHistory.Contract</td>
                <td>@tradeHistory.Price</td>
                <td>@tradeHistory.Quantity</td>
                <td>@tradeHistory.Date.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
</div>

